
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/826348c2-cdcb-42a0-bc11-a788478ba5a2/43af842f-13d1-4986-bb16-10ba7e3c3de1/PK-en-20240729-POP_SIGNUP_TWO_WEEKS-perspective_WEB_4d951114-b858-42cf-9ed4-fb06ad9ee502_medium.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
    height: 645px;
    position: relative;
    /* width: 100%; */
}
.main .box{
    position: absolute;
    height:645px;
    width: 100%;
    opacity: 0.64;
    background-color: black;
    top: 0;
}
nav{
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
nav img{
    width: 130px;
    position: relative;
    z-index: 10;
    color: red;
}
.signin{
    width: 100px;
    height: 35px;
    /* position: relative; */
    /* z-index: 20; */
    background-color: red;
    color: rgb(255, 255, 255);
    border: 1px solid red;
    border-radius: 4px;
}

.hero
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: white;
    opacity: 10;
    padding: 34px;
    gap: 5px;
}

.hero-1{
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.hero-2{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 13px;
    text-align: center;
}

.hero-3{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.hero-4{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

#email{
    width: 364px;
    height: 56px;
    background-color: rgba(32, 27, 27, 0.519);
    border: 1px solid red;
    padding: 2px;
    border-radius: 3px;
}
input::placeholder{
    padding-left: 4px;
    color: white;
    font-size: 15px;
}


.startedButton{
    width: 200px;
    height: 56px;
    color: white;
    background-color: red;
    border: 1px solid red;
    font-size: 22px;
    border-radius: 3px;
}
.separation{
    height: 6px;
    background-color: rgb(84, 82, 82);
}

.sectionOne{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 6px;
}
.sectionOneText{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
    
}
.sectionOneText-1{
    color: white;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}
.sectionOneText-2{
    width: 400px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}
.sectionOneImage img{
    width: 450px;
    height: 350px;
    position: relative;
}
.sectionOneImage video{

    width: 329px;
    height: 350px;
    position: absolute;
    top: 114%;
    left: 59%;
}

.sectionTwo{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 6px;
    padding: 50px;
}
.sectionTwoText{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: flex-start;
    /* width: 40vw; */
    margin-right: 90px;
    /* position: relative; */
    
}
.sectionTwoText-1{
    color: white;
    font-size: 48px;
    font-weight: bolder;
    /* text-align: center; */
}
.sectionTwoText-2{
    /* width: 400px; */
    color: white;
    font-size: 1.3rem;
}


.sectionThree{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 6px;
    position: relative;
    padding: 50px;
}
.sectionThreeText{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: flex-start;
    /* width: 43vw; */
    
}
.sectionThreeText-1{
    color: white;
    font-size: 48px;
    font-weight: bolder;
    /* width: 30vw; */
    /* text-align: center; */
}
.sectionThreeText-2{
    width: 400px;
    color: white;
    font-size: 1.3rem;
}
.sectionThreeImage img{
    width: 450px;
    height: 350px;
    position: relative;
}
.sectionThreeImage video{

    width: 321px;
    height: 370px;
    position: absolute;
    top: 13%;
    left: 60%;
}


.sectionFour{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 6px;
    position: relative;
    padding: 50px;
}
.sectionFourText{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: flex-start;
    /* width: 43vw; */
    
}
.sectionFourText-1{
    color: white;
    font-size: 48px;
    font-weight: bolder;
}
.sectionFourText-2{
    width: 460px;
    color: white;
    font-size: 1.3rem;
}
.sectionFourImage img{
    width: 450px;
    height: 350px;
    position: relative;
}

.sectionFive{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 6px;
    position: relative;
    padding: 50px;

}
.questionTitle{
    color: white;
    font-size: 48px;
    font-weight: bolder;
}
.Questions{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.question{
    color: white;
    height: 80px;
    width: 70vw;
    background-color: rgb(45, 45, 45);
    padding: 15px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.5s ease;
}
.question:hover{
    cursor: pointer;
}

.question:hover {
    background-color: rgb(73, 71, 71);
}

.plus{
    padding-right: 20px;
    font-size: 34px;
}
.question1,
.question2,
.question3,
.question3,
.question4,
.question5,
.question6
{
    height: auto;
    width: 70vw;
    background-color: rgb(45, 45, 45);
    padding: 15px;
    font-size: 20px;
    color: white;
    transition: opacity 4s ease, visibility 2s ease;

}

.Footer{
    height: 70vh;
    display: flex;
    gap: 90px;
    align-items: center;
    justify-content: center;
}
ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
}
a{
    color: white;
    font-size: 14px;
}

li{
    margin: 5px;
}